.txt{
    background-color: aqua;
    display: inline;
}

.txt-block{
    display: inline;
}

.link{
    background-color: blueviolet;
}

.link-inline{
    display: inline;
}

.hr{
    background-color: aqua;
}

.h1{
    background-color: aqua;
}

.p{
    background-color: aqua;
}

.ul{
    background-color: aqua;
}

.li{
    background-color: aqua;
}

.span{
    background-color: aqua;
}

.img{
    background-color: aqua;
}

.i{
    background-color: aqua;
}

.b{
    background-color: aqua;
}

.strong{
    background-color: aqua;
}

.sub{
    background-color: aqua;
}

.sup{
    background-color: aqua;
}

.del{
    background-color: aqua;
}

.u{
    background-color: aqua;
}

.pre{
    background-color: aqua;
}

.div{
    background-color: aqua;
}

.box1{
    width: 710px;
    height: 50px;
    background-color: aqua;
}



.box2{
    width: 280px;
    height: 200px;
    background-color: pink;
    display: inline-block;
}

.box3{
    background-color: chocolate;
    width: 420px;
    height: 300px;
    
}

.box4{
    background-color: greenyellow;
    width: 280px;
    height: 200px;

}

.box5{
    background-color: grey;
    width: 420px;
    height: 100px;

}

.box6{
    background-color: green;
    width: 480px;
    height: 100px;

}

.box7{
    background-color: pink;
    width: 240px;
    height: 100px;

}
